/*animations*/
.animate.ng-enter {
 -webkit-transition: 0.2s linear all; /* Safari/Chrome */
 transition: 0.2s linear all; /* All other modern browsers and IE10+ */

 /* The animation preparation code */
 opacity: 0;
}
.animate.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}

/*general*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6,
p, a, img, ol, ul, li,
form, label,
table, tbody, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-family: sans-serif;
    font-size: 22px;
    color: #444;
}
ol, ul {
    list-style: none;
}
input,
textarea {
	margin: 0;
	padding: 5px 10px;
	font-size: 22px;
	border-radius: 2px;
	border: 1px solid #aaa;
	color: #444;
	font-family: sans-serif;
}
input[type="text"] {
	width: 250px;
	max-width: 250px;
}
.task-wrapper input[type="text"] {
	width: 300px;
	max-width: 300px;
}
input[type="text"]:focus {
	color: #000;
}
input[type="submit"] {
	color: #fff;
	background: #999;
	cursor: pointer;
}
input[type="submit"]:hover {
	background: #444;
}

/*utilities*/
.utility {
	display: inline-block;
	visibility: hidden;
}
.project:hover .utility,
.task:hover .utility {
	visibility: visible;
}
.button {
	width: 16px;
	height: 16px;
	cursor: pointer;
	display: inline-block;
}
.delete {
	background: url(../img/delete.png) 0 0 no-repeat;
}
.delete:hover {
	background-image: url(../img/delete-hover.png);
}
.clock {
	background: url(../img/clock.png) 0 0 no-repeat;
}
.clock:hover {
	background-image: url(../img/clock-hover.png);
}
.note {
	background: url(../img/text.png) 0 0 no-repeat;
}
.note:hover {
	background-image: url(../img/text-hover.png);
}
.done {
	background: url(../img/done.png) 0 0 no-repeat;
}
.done:hover {
	background-image: url(../img/done-hover.png);
}

.overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    color: #fff;
    display: none;
}
.overlay.active {
	display: block;
}
.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	background: #fff;
}
.menu.active {
	height: 100%;
	padding: 0 20px 20px 0;
	min-width: 200px;
}
.menu-button {
	width: 64px;
	height: 64px;
	cursor: pointer;
	background: url(../img/menu.png) 7px 7px no-repeat;
	background-size: 75%;
}
.menu ul {
	display: none;
}
.menu.active ul {
	display: block;
}
.menu li {
	padding: 10px;
	width: 100%;
	cursor: pointer;
}
.menu li:hover {
	background: #444;
	color: #FFF;
}
.main {
	width: 80%;
	max-width: 1200px;
	min-width: 1024px;
	margin: 100px auto 0;
}

.project-list {
	margin-bottom: 20px;
	border-bottom: 2px solid #7cb6c5;
	padding: 0 0 40px;
}
.project-wrapper:before,
.project-wrapper:after {
    content: " ";
    display: table;
}
.project-wrapper:after {
    clear: both;
}
.project {
	width: 30%;
	float: left;
}
.project input,
.task input,
.task textarea {
	border: 1px solid #fff;
}
.project:hover input,
.task:hover input,
.task:hover textarea {
	border: 1px solid #aaa;
}
.add-project {
	margin-bottom: 200px;
}
.task-wrapper {
	width: 69%;
	float: left;
}
.task {
	margin-bottom: 10px;
}
.task:after {
    content:'';
    display:block;
    clear: both;
}
.task input,
.task .utility {
	vertical-align: top;
}
.task .utility {
	padding-top: 8px;
}
.task.completed > input {
	text-decoration: line-through;
	color: #4a4;
}
.timer {
	display: none;
	float: right;
}
.task.timer-on .timer {
	display: inline-block;
}
.task-wrapper .timer input {
	width: 24px;
	padding: 5px 2px;
}
.colon {
	display: inline-block;
	padding: 7px 0 0 6px;
}
.timer-button {
	color: #fff;
	background: #999;
	cursor: pointer;
	padding: 7px 10px;
	border-radius: 2px;
	border: 1px solid #aaa;
	display: inline-block;
}
.timer-button:hover {
	background: #444;
}
.task textarea {
	display: none;
	float: right;
	width: 263px;
	max-width: 263px;
	margin: 0!important;
}
.task.notes-on textarea {
	display: inline-block;
}
.task.timer-on.notes-on textarea {
	margin-top: 10px!important;
}