/* animations */
.animate.ng-enter {
	-webkit-transition: 0.2s linear all;
	transition: 0.2s linear all;
	opacity: 0;
}
.animate.ng-enter.ng-enter-active {
	opacity: 1;
}

/* border box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6,
p, a, img, ol, ul, li,
form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
	font-family: sans-serif;
	font-size: 22px;
	color: #222;
}
ul {
	list-style: none;
}

/* inputs */
input[type="text"] {
	margin: 0;
	padding: 8px 16px;
	border: 1px solid #222;
	-webkit-appearance: none;
	color: #222;
	font-size: 18px;
	font-family: sans-serif;
	border-radius: 5px 0 0 5px;
	border-color: #aaa;
	border-right: 0;
}
input[type="text"]:hover {
	border-color: #4078c0;
}
input[type="text"]:focus {
	color: #222;
}

/* buttons */
.btn {
	margin: 0;
	padding: 8px 16px;
	border: 1px solid #4078c0;
	font-size: 18px;
	font-family: sans-serif;
	color: #fff;
	background: #4078c0;
	cursor: pointer;
	border-radius: 5px;
	-webkit-appearance: none;
}
.btn:hover {
	background: #fff;
	color: #4078c0;
}
.btn-add {
	border-radius: 0 5px 5px 0;
}
.btn-add:hover {
	background: #fff;
	color: #4078c0;
}
.btn-remove {
	border-radius: 0 5px 5px 0;
}
.btn-remove:hover {
	background: #fff;
	color: #bd2c00;
	border-color: #bd2c00;
}
.btn-complete {
	margin-left: 0.5em;
}
.btn-complete:hover {
	color: #4a4;
	border-color: #4a4;
}

/* page */
.wrap {
	width: 1000px;
	margin: 2em auto
}
header {
	display: flex;
	justify-content: space-between;
}
.restart {
	text-decoration: underline;
	cursor: pointer;
	color: #4078c0;
}
.restart:hover {
	text-decoration: none;
}
main {
	width: 1000px;
	margin: 2em auto;
}

/* project */
.project-add {
	width: 30%;
	display: flex;
	margin-bottom: 10em;
}
.project-add input[type="text"] {
	flex: 1;
}

.project-list {
	margin-bottom: 2em;
	border-bottom: 1px solid #e6e6e6;
	padding: 0 0 4em;
}
.project-wrapper:before,
.project-wrapper:after {
	content: " ";
	display: table;
}
.project-wrapper:after {
	clear: both;
}
.project {
	width: 30%;
	display: flex;
	float: left;
}
.project input[type="text"],
.task input[type="text"] {
	flex: 1;
	border: 1px solid #222;
	border-right: 0;	
}
.project input[type="text"]:hover,
.task input[type="text"]:hover {
	border-color: #4078c0;
}

/* task */
.task-add {
	display: flex;
}
.task-add input[type="text"] {
	flex: 1;
}

.task-wrapper {
	width: 70%;
	float: right;
	padding-left: 2em;
}
.task {
	margin-bottom: 0.5em;
	display: flex;
}
.task.completed > input {
	text-decoration: line-through;
	color: #4a4;
}
.task.completed .btn-complete {
	color: #fff;
	background: #4a4;
	border-color: #4a4;
}
.task.completed .btn-complete:hover {
	color: #4a4;
	background: #fff;
}